.signup-div {
  height: auto;
  margin-top: 50px;
  padding: 50px 50px 50px 50px;
  background-color: #f36100;
  transform: skewY(-4deg);
  border: 3px solid #232323;

  .signup-div-inner {
    transform: skewY(4deg);
  }

  .signup-div-inner h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 0 0;
    color: white;
  }

  .ant-form-item-has-error
    :not(.ant-input-disabled):not(.ant-input-borderless).ant-
    input,
  .ant-form-item-has-error
    :not(.ant-input-affix-wrapper-disabled):not(
      .ant-input-affix-wrapper-borderless
    ).ant-input-affix-wrapper,
  .ant-form-item-has-error
    :not(.ant-input-number-affix-wrapper-disabled):not(
      .ant-input-number-affix-wrapper-borderless
    ).ant-input-number-affix-wrapper,
  .ant-form-item-has-error
    :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover,
  .ant-form-item-has-error
    :not(.ant-input-affix-wrapper-disabled):not(
      .ant-input-affix-wrapper-borderless
    ).ant-input-affix-wrapper:hover,
  .ant-form-item-has-error
    :not(.ant-input-number-affix-wrapper-disabled):not(
      .ant- input-number-affix-wrapper-borderless
    ).ant-input-number-affix-wrapper:hover {
    background-color: #fff;
    border-color: black;
  }

  .ant-form-item-explain-error {
    color: black;
  }
}

.sign-up-alert {
  max-width:300px;
  color:white;
  border: 1px solid green;
  padding: 9px;
  border-radius: 20px;
}

